<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="en-US" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<!-- Mirrored from seventhqueen.com/themes/kleo/members/demo/profile/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Feb 2015 11:19:19 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Upload photo</title>

   <% include ../partials/head-profile %>
    <!--Photo Cover -->
    <style type="text/css">
        body.buddypress.is-user-profile div#item-header {
            background-image: url("../frontend/img/uploads/BMW-M3-E92.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
    <!--Photo Cover -->

</head>


<body class="xprofile bp-user my-profile profile public buddypress bbp-user-page single singular bbpress page page-id-0 page-parent page-template-default offcanvas-right offcanvas-type-default kleo-navbar-fixed navbar-resize wpb-js-composer js-comp-ver-4.3.4 vc_responsive no-js is-user-profile" itemscope itemtype="http://schema.org/WebPage">

<div id="fb-root"></div>

<!-- PAGE LAYOUT
================================================ -->
<!--Attributes-->
<div class="kleo-page">


    <!-- HEADER SECTION
    ================================================ -->
    <% include ../partials/header%>
    <!--end header-->
    <!-- MAIN SECTION
    ================================================ -->
    <div id="main">

        <section class="container-wrap main-color">
            <div id="main-container" class="container">
                <div class="row">
                    <div class="template-page col-sm-9 tpl-right">
                        <div class="wrap-content">


                            <div class="row">
                                <div class="col-sm-12">


                                    <div class="article-content">
                                        <div id="buddypress">


                                            <div class="row">



                                                <!-- MENU PROFILE
                                                   ================================================ -->
                                                <% include ../partials/menu-upload %>

                                                <!-- CONTENT UPLOAD
                                                ================================================ -->
                                                <% include ../partials/content-upload %>

                                            </div>
                                            <!-- end .row -->



                                        </div><!-- #buddypress -->


                                    </div><!--end article-content-->
                                </div><!--end twelve-->
                            </div>





                        </div><!--end wrap-content-->
                    </div><!--end main-page-template-->

                <% include ../partials/sidebar-profile %>

                </div><!--end .row-->		</div><!--end .container-->

        </section>
        <!--END MAIN SECTION-->


    </div><!-- #main -->

    <a class="kleo-go-top" href="#"><i class="icon-up-open-big"></i></a>
    <!-- FOOTER SECTION
    ================================================ -->
    <% include ../partials/footer %>

</div><!-- #page -->

<!-- Facebook Conversion Code for Other Website Conversions -  Seventhqueen -->
<script>(function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '524985230974875']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=524985230974875&amp;ev=PixelInitialized" /></noscript>

<!-- Generated in 1.530 seconds. (260 q) -->

<!-- Memberships powered by Paid Memberships Pro v1.7.15.2.
-->
<script>
    // Additional JS functions here
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '132565730272019', // App ID
            version    : 'v2.1',
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true,  // parse XFBML
            oauth      : true
        });

        // Additional init code here
        jQuery('#fb-root').trigger('facebook:init');

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<script type="text/javascript">
    var ajaxurl = 'http://seventhqueen.com/themes/kleo/wp-admin/admin-ajax.php';

    jQuery(document).ready(function() {

        jQuery('.kleo-facebook-connect').click(function() {

            // fix iOS Chrome
            if (navigator.userAgent.match('CriOS')) {
                window.open('https://www.facebook.com/dialog/oauth?client_id=132565730272019&redirect_uri=' + document.location.href + '&scope=email,public_profile&response_type=token', '', null);
            } else {
                FB.login(function(FB_response){
                            if (FB_response.authResponse) {
                                fb_intialize(FB_response, '');
                            }
                        },
                        {
                            scope: 'email',
                            auth_type: 'rerequest',
                            return_scopes: true
                        });
            }
        });

        if (navigator.userAgent.match('CriOS')) {
            jQuery("#fb-root").bind("facebook:init", function () {
                var accToken = jQuery.getUrlVar('#access_token');
                if (accToken) {
                    var fbArr = {scopes: "email"};
                    fb_intialize(fbArr, accToken);
                }
            });
        }

    });

    function fb_intialize(FB_response, token){
        FB.api( '/me', 'GET', {
                    fields : 'id,email,verified,name',
                    access_token : token
                },
                function(FB_userdata){
                    jQuery.ajax({
                        type: 'POST',
                        url: ajaxurl,
                        data: {"action": "fb_intialize", "FB_userdata": FB_userdata, "FB_response": FB_response},
                        success: function(user){
                            if( user.error ) {
                                alert( user.error );
                            }
                            else if( user.loggedin ) {
                                jQuery('#kleo-login-result').html(user.message);
                                if( user.type === 'login' ) {
                                    if(window.location.href.indexOf("wp-login.php") > -1) {
                                        window.location = user.siteUrl;
                                    } else {
                                        window.location.reload();
                                    }
                                }
                                else if( user.type === 'register' ) {
                                    window.location = user.url;
                                }
                            }
                        }
                    });
                }
        );
    }

    jQuery.extend({
        getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        getUrlVar: function(name){
            return jQuery.getUrlVars()[name];
        }
    });
</script>
<script type='text/javascript' src='http://seventhqueen.com/themes/kleo/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?rev=4.6.5'></script>
<script type='text/javascript' src='http://seventhqueen.com/themes/kleo/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.6.5'></script>

<!-- Modal Login form -->
<div id="kleo-login-modal" class="kleo-form-modal main-color mfp-hide">
    <div class="row">

       <div class="col-sm-12 text-center">

            <div class="kleo-fb-wrapper text-center">
                <a href="#" class="kleo-facebook-connect btn btn-default "><i class="icon-facebook"></i> &nbsp;Log in with Facebook</a>
            </div>
            <div class="gap-20"></div>
            <div class="hr-title hr-full"><abbr> or </abbr></div>
            <span style="margin-bottom: 10px;display:inline-block;">User: demo Password: demo</span>
            <div class="kleo-pop-title-wrap main-color">
                <h3 class="kleo-pop-title">Log in with your credentials</h3>


                <p>
                    <em>or</em>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://seventhqueen.com/themes/kleo/register/" class="new-account">Create an account</a>
                </p>

            </div>

            <form action="http://seventhqueen.com/themes/kleo/wp-login.php" id="login_form" name="login_form" method="post" class="kleo-form-signin">
                <input type="hidden" id="security" name="security" value="12d4d05f8f" /><input type="hidden" name="_wp_http_referer" value="/themes/kleo/members/demo/profile/" />            <input type="text" id="username" autofocus required name="log" class="form-control" value="" placeholder="Username">
                <input type="password" id="password" required value="" name="pwd" class="form-control" placeholder="Password">
                <div id="kleo-login-result"></div>
                <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
                <label class="checkbox pull-left">
                    <input id="rememberme" name="rememberme" type="checkbox" value="forever"> Remember me            </label>
                <a href="#kleo-lostpass-modal" class="kleo-show-lostpass kleo-other-action pull-right">Lost your password?</a>
                <span class="clearfix"></span>


            </form>

        </div>
    </div>
</div><!-- END Modal Login form -->



<!-- Modal Lost Password form -->
<div id="kleo-lostpass-modal" class="kleo-form-modal main-color mfp-hide">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="kleo-pop-title-wrap alternate-color">
                <h2 class="kleo-pop-title">Forgot your details?</h2>
            </div>


            <form id="forgot_form" name="forgot_form" action="" method="post" class="kleo-form-signin">
                <input type="hidden" id="security" name="security" value="12d4d05f8f" /><input type="hidden" name="_wp_http_referer" value="/themes/kleo/members/demo/profile/" />        <input type="text" id="forgot-email" autofocus required  name="user_login" class="form-control" placeholder="Username or Email">
                <div id="kleo-lost-result"></div>
                <button class="btn btn-lg btn-default btn-block" type="submit">Reset Password</button>
                <a href="#kleo-login-modal" class="kleo-show-login kleo-other-action pull-right">I remember my details</a>
                <span class="clearfix"></span>
            </form>

        </div>
    </div>
</div><!-- END Modal Lost Password form -->

<link rel='stylesheet' id='wangguard-bp-css'  href='../../../wp-content/plugins/wangguard/css/wangguard-bpf24c.css?ver=1.6' type='text/css' media='all' />
<script type='text/javascript' src='frontend/js/editor.js'></script>
<script type='text/javascript' src='frontend/js/underscore.min.js'></script>
<script type='text/javascript' src='frontend/js/backbone.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var template_url = "index.html\/\/seventhqueen.com\/themes\/kleo\/wp-admin\/admin-ajax.php?action=rtmedia_get_template&template=media-gallery-item";
    var rtMedia_plupload_config = {"url":"\/themes\/kleo\/members\/demo\/profile\/upload\/","runtimes":"html5,flash,html4","browse_button":"rtMedia-upload-button","container":"rtmedia-upload-container","drop_element":"drag-drop-area","filters":[{"title":"Media Files","extensions":"jpg,jpeg,png,gif,mp4,mp3"}],"max_file_size":"10M","multipart":"1","urlstream_upload":"1","flash_swf_url":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-includes\/js\/plupload\/plupload.flash.swf","silverlight_xap_url":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-includes\/js\/plupload\/plupload.silverlight.xap","file_data_name":"rtmedia_file","multi_selection":"1","multipart_params":{"redirect":"no","action":"wp_handle_upload","_wp_http_referer":"\/themes\/kleo\/members\/demo\/profile\/","mode":"file_upload","rtmedia_upload_nonce":"ea1ca83418"},"max_file_size_msg":"10M"};
    var rMedia_loading_file = "index.html\/\/seventhqueen.com\/themes\/kleo\/wp-admin\/images\/loading.gif";
    var rMedia_loading_media = "index.html\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/buddypress-media\/app\/assets\/img\/boxspinner.gif";
    var rtmedia_user_domain = "index.html\/\/seventhqueen.com\/themes\/kleo\/members\/demo\/media\/";
    var rtmedia_load_more_or_pagination = "load_more";
    var rtmedia_bp_enable_activity = "1";
    var rtmedia_upload_progress_error_message = "There are some uploads in progress. Do you want to cancel them?";
    /* ]]> */
</script>
<script type='text/javascript' src='frontend/js/rtMedia.backbone.js'></script>
<script type='text/javascript' src='frontend/js/jquery.form.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {"loaderUrl":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
    /* ]]> */
</script>
<script type='text/javascript' src='frontend/js/contact-form-7/scripts.js'></script>
<script type='text/javascript' src='../../../wp-content/plugins/k-style-switcher/assets/js/k-switcher5152.js?ver=1.0'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/seventhqueen.com\/themes\/kleo\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    var wc_add_to_cart_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/seventhqueen.com\/themes\/kleo\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='../../../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min8ce6.js?ver=2.2.10'></script>
<script type='text/javascript' src='../../../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
    var woocommerce_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/seventhqueen.com\/themes\/kleo\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
    /* ]]> */
</script>
<script type='text/javascript' src='../../../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min8ce6.js?ver=2.2.10'></script>
<script type='text/javascript' src='../../../wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.mine7f0.js?ver=1.3.1'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
    var wc_cart_fragments_params = {"ajax_url":"\/themes\/kleo\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
    /* ]]> */
</script>
<script type='text/javascript' src='../../../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min8ce6.js?ver=2.2.10'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var yith_wcwl_l10n = {"out_of_stock":"Cannot add to the cart as product is Out of Stock!"};
    /* ]]> */
</script>
<script type='text/javascript' src='../../../wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
<script type='text/javascript' src='frontend/js/bootstrap.min1.js'></script>
<script type='text/javascript' src='frontend/js/lib/waypoints.min.js'></script>
<script type='text/javascript' src='frontend/js/plugins/magnific-popup/magnific.min.js'></script>
<script type='text/javascript' src='../../../wp-content/themes/kleo/assets/js/plugins/carouFredSel/jquery.carouFredSel-6.2.0-packed7793.js?ver=2.4'></script>
<script type='text/javascript' src='../../../wp-content/themes/kleo/assets/js/plugins/carouFredSel/helper-plugins/jquery.touchSwipe.min7793.js?ver=2.4'></script>
<script type='text/javascript' src='../../../wp-content/plugins/js_composer/assets/lib/isotope/dist/isotope.pkgd.min7035.js?ver=4.3.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var kleoFramework = {"ajaxurl":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-admin\/admin-ajax.php","themeUrl":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-content\/themes\/kleo","goTop":"1","ajaxSearch":"1","alreadyLiked":"You already like this","logo":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-content\/themes\/kleo\/assets\/img\/logo_black_teal.png","retinaLogo":"http:\/\/seventhqueen.com\/themes\/kleo\/wp-content\/uploads\/2014\/08\/logo_black_teal@2x.png","headerHeight":"88","loadingmessage":"<i class=\"icon icon-spin5 animate-spin\"><\/i> Sending info, please wait...","bpNotificationsRefresh":"0"};
    /* ]]> */
</script>
<script type='text/javascript' src='frontend/js/app.min1.js'></script>
<script type='text/javascript' src='../../../wp-content/plugins/buddypress-media/lib/touchswipe/jquery.touchSwipe.min1cd1.js?ver=3.7.27'></script>

<div id="sitewide-notice" class="admin-bar-off"></div>
</body>
</html>