<section class="alternate-color bp-full-width-profile">
    <div id="item-header" role="complementary">


        <div class="profile-cover-action"><a href="http://seventhqueen.com/themes/kleo/members/demo/profile/change-cover/" class="button">Change Cover</a></div><div class="profile-cover-inner"></div>
        <div id="item-header-avatar" class="rounded">
            <a href="http://seventhqueen.com/themes/kleo/members/demo/">

                <img src="http://seventhqueen.com/themes/kleo/wp-content/uploads/avatars/35231/fe1a940917f4eaa94e2279830d730439-bpfull.jpg" class="avatar user-35231-avatar avatar-150 photo" width="150" height="150" alt="Profile picture of Lennon Mendonça" />
            </a>
            <span class="kleo-online-status high-bg"></span></div><!-- #item-header-avatar -->

        <div id="item-header-content" >

            <h4 class="user-nicename">@pseudo</h4>
            <br>
            <span class="activity">BADGE: Exemple badge</span>

        </div><!-- #item-header-content -->



    </div>
    <!-- #item-header -->
</section>