<div id="item-body" role="main" class="col-sm-12">

    <div class="profile" role="main">




        <h3>Charger votre photo à publier</h3>


        <form action="/ajoutPhoto" name="bpcp_change" id="bpcp_change" method="post" class="standard-form" enctype="multipart/form-data">

            <div id="bg-delete-wrapper" style="display: none;">

                <div class="current-cover">
                    <img  id="image_selection" src="http://seventhqueen.com/themes/kleo/wp-content/uploads/2015/03/FIFA15_Titel.jpg" alt="current cover photo"/>
                </div>
                <br>
               <!-- <a href='#' id='bpcp-del-image' data-buid="35231" class='btn btn-default btn-xs'>Supprimer</a>-->
            </div>
            <label for="bpcp_upload">
                <input type="file" onchange="imageChange();"  name="file" id="bpcp_upload" class="settings-input"/>
            </label>
            <input type="text" name="titre" placeholder="Titre" required/>
            <textarea name="description" placeholder="Description" required></textarea>
            <script>
                function imageChange(){

                    var input=document.getElementById("bpcp_upload");
                    var reader = new FileReader();

                    // Closure to capture the file information.
                    reader.onload = (function(theFile) {
                        return function(e) {
                            document.getElementById("image_selection").src=e.target.result;
                            document.getElementById("bg-delete-wrapper").style.display="block";
                        };
                    })(input.files[0]);

                    // Read in the image file as a data URL.
                    reader.readAsDataURL(input.files[0]);
                }
            </script>
            <br/>
            <br/>

            <input type="hidden" id="_wpnonce" name="_wpnonce" value="f65dddeb43" /><input type="hidden" name="_wp_http_referer" value="/themes/kleo/members/demo/profile/change-cover/" />            <input type="hidden" name="action" id="action" value="bp_upload_profile_cover"/>

            <p class="submit">
                <input type="submit" id="bpcp_save_submit" name="bpcp_save_submit" class="button" value="Valider"/>
            </p>
        </form>

    </div><!-- .profile -->

    <nav class="pagination-sticky members-navigation" role="navigation">

        <a rel="prev" href="http://seventhqueen.com/themes/kleo/members/eduart-milushi/" title="">
					<span id="older-nav">
						<span class="nav-image"><img src='https://graph.facebook.com/10204603247183716/picture?width=580&amp;height=580' class="avatar user-35230-avatar avatar-150 photo" width="150" height="150" alt="Profile Photo" /></span>
						<span class="outter-title"><span class="entry-title">Eduart Milushi</span>
						</span>
					</span>
        </a>


        <a rel="next" href="http://seventhqueen.com/themes/kleo/members/duygulu-tarifler-mutfagi/" title="">
				<span id="newer-nav">
					<span class="nav-image"><img src='https://graph.facebook.com/1547557828796754/picture?width=580&amp;height=580' class="avatar user-35232-avatar avatar-150 photo" width="150" height="150" alt="Profile Photo" /></span>
					<span class="outter-title"><span class="entry-title">Duygu&#039;lu Tarifler Mutfağı</span></span>
				</span>
        </a>

    </nav><!-- .navigation -->

</div>
<!-- #item-body -->