<div id="item-body" role="main" class="col-sm-12">



    <div class="item-list-tabs no-ajax" id="subnav" role="navigation">
        <ul>
            <li id="public-personal-li"  class="current selected"><a id="public" href="http://seventhqueen.com/themes/kleo/members/demo/profile/">View</a></li><li id="edit-personal-li" ><a id="edit" href="http://seventhqueen.com/themes/kleo/members/demo/profile/edit/">Edit</a></li><li id="change-avatar-personal-li" ><a id="change-avatar" href="http://seventhqueen.com/themes/kleo/members/demo/profile/change-avatar/">Change Profile Photo</a></li><li id="change-cover-personal-li" ><a id="change-cover" href="http://seventhqueen.com/themes/kleo/members/demo/profile/change-cover/">Change Cover</a></li>	</ul>
    </div><!-- .item-list-tabs -->


    <div class="profile" role="main">

        <div class="bp-widget about-me">


            <div class="hr-title hr-full hr-double"><abbr>About me</abbr></div>
            <div class="gap-10"></div>


            <dl class="dl-horizontal field_1 field_name required-field visibility-public field_type_textbox">
                <dt>Name</dt>
                <dd><p><a href="http://seventhqueen.com/themes/kleo/members/?s=Lennon+Mendon%C3%A7a" rel="nofollow">Lennon Mendonça</a></p>
                </dd>
            </dl>








            <dl class="dl-horizontal field_2 field_my-quote optional-field visibility-public alt field_type_textbox">
                <dt>My Quote</dt>
                <dd><p><a href="http://seventhqueen.com/themes/kleo/members/?s=I+love+creating+websites%21%21%21%21" rel="nofollow">I love creating websites!!!!</a></p>
                </dd>
            </dl>








        </div><!-- end bp-widget -->






        <div class="bp-widget biography">


            <div class="hr-title hr-full hr-double"><abbr>Biography</abbr></div>
            <div class="gap-10"></div>




            <dl class="dl-horizontal field_3 field_date-of-birth optional-field visibility-public field_type_datebox">
                <dt>Date of birth</dt>
                <dd><p>July 7, 1977</p>
                </dd>
            </dl>








            <dl class="dl-horizontal field_4 field_biography optional-field visibility-public alt field_type_textarea">
                <dt>Biography</dt>
                <dd><p>A lot of time wasted on the internet.</p>
                </dd>
            </dl>








        </div><!-- end bp-widget -->






        <div class="bp-widget work-experience">


            <div class="hr-title hr-full hr-double"><abbr>Work Experience</abbr></div>
            <div class="gap-10"></div>




            <dl class="dl-horizontal field_5 field_timeline optional-field visibility-public field_type_textarea">
                <dt>Timeline</dt>
                <dd><p>2011 to present &#8211; WikiLeaks<br />
                        2010 &#8211; Goldman sachs<br />
                        2009 &#8211; Jp Morgan</p>
                </dd>
            </dl>








        </div><!-- end bp-widget -->






        <div class="bp-widget contact">


            <div class="hr-title hr-full hr-double"><abbr>Contact</abbr></div>
            <div class="gap-10"></div>




            <dl class="dl-horizontal field_6 field_address optional-field visibility-public field_type_textarea">
                <dt>Address</dt>
                <dd><p>Embassy of the Republic of Ecuador<br />
                        London UK</p>
                </dd>
            </dl>








        </div><!-- end bp-widget -->






    </div><!-- .profile -->

</div>
<!-- #item-body -->