<div id="header" class="header-color">

    <div class="navbar" role="navigation">


        <!--Attributes-->
        <div class="kleo-main-header header-normal">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="kleo-mobile-switch">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="kleo-mobile-icons">

                        <a class="cart-contents mheader" href="http://seventhqueen.com/themes/kleo/cart/" title="View Cart"><span class="cart-items"><i class="icon icon-basket-full-alt"></i> </span></a>
                    </div>

                    <strong class="logo">
                        <a href="http://seventhqueen.com/themes/kleo">


                            <img id="logo_img" title="Kleo Template" src="frontend/img/logo_black_teal.png" alt="Kleo Template">


                        </a>
                    </strong>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-collapse"><ul id="menu-kleonavmenu" class="nav navbar-nav"><li id="menu-item-832" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-832 dropdown mega-11-cols"><a title="Home" href="#" class="js-activated">Home <span class="caret"></span></a>

                        </li>
                        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27 dropdown mega-4-cols"><a title="Community" href="#" class="js-activated">Communauté <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a title="Members" href="http://seventhqueen.com/themes/kleo/members/">Membres</a></li>

                            </ul>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-37 dropdown kleo-megamenu mega-5-cols"><a title="Features" href="#" class="js-activated">Galérie photo <span class="caret"></span></a></li>

                        <li id="menu-item-2181" class="kleo-menu kleo-user_avatar-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2181 dropdown mega-6-cols"><a title="My Account" href="#" class="js-activated">My Account <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-4512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4512"></li>
                                <li id="menu-item-4502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4502"></li>
                                <li id="menu-item-4529" class="kleo-show-login menu-item menu-item-type-custom menu-item-object-custom menu-item-4529"><a title="Login" href="http://seventhqueen.com/themes/kleo/wp-login.php">Login</a></li>
                                <li id="menu-item-4531" class="kleo-menu kleo-register-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-4531"><a title="Register" href="/register">Register</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-37 dropdown kleo-megamenu mega-5-cols"><a title="Features" href="/upload" class="js-activated">Upload <span class="caret"></span></a></li>
                        <li id="nav-menu-item-search" class="menu-item kleo-search-nav">    <a class="search-trigger" href="#"><i class="icon icon-search"></i></a>
                            <div class="kleo-search-wrap searchHidden" id="ajax_search_container">
                                <form class="form-inline" id="ajax_searchform" action="http://seventhqueen.com/themes/kleo/" data-context="">
                                    <input autocomplete="off" type="text" class="ajax_s form-control" name="s" value="" placeholder="Start typing to search...">
                                    <span class="kleo-ajax-search-loading"><i class="icon-spin6 animate-spin"></i></span>
                                </form>
                                <div class="kleo_ajax_results"></div>
                            </div>

                        </li></ul></div>
            </div><!--end container-->
        </div>

    </div>

</div><!--end header-->