<div id="header" class="header-color">

    <div class="navbar" role="navigation">


        <div class="kleo-main-header header-normal">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="kleo-mobile-switch">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="kleo-mobile-icons">

                        <a class="cart-contents mheader" href="http://seventhqueen.com/themes/kleo/cart/" title="View Cart"><span class="cart-items"><i class="icon icon-basket-full-alt"></i> </span></a>
                    </div>

                    <strong class="logo">
                        <a href="#">


                            <img id="logo_img" title="Kleo Template" src="frontend/img/logo_white_teal.png" alt="">


                        </a>
                    </strong>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-collapse"><ul id="menu-kleonavmenu" class="nav navbar-nav"><li id="menu-item-832" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-832 dropdown mega-11-cols"><a title="Home" href="#" class="js-activated">Home <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-3953" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2772 current_page_item menu-item-3953 active"><a title="Pinterest Style NEW" href="index.php">Pinterest Style <em>NEW</em></a></li>
                                <li id="menu-item-3973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3973"><a title="Portfolio Fullwidth Overlay" href="http://seventhqueen.com/themes/kleo/portfolio-full-width/">Portfolio Fullwidth Overlay</a></li>
                                <li id="menu-item-3959" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3959"><a title="E-learning" href="http://seventhqueen.com/themes/kleo/e-learning-home/">E-learning</a></li>
                                <li id="menu-item-4887" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4887"><a title="Merry Christmas NEW" href="http://seventhqueen.com/themes/kleo/merry-christmas/">Merry Christmas <em>NEW</em></a></li>
                                <li id="menu-item-4886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4886"><a title="Happy New Year NEW" href="http://seventhqueen.com/themes/kleo/merry-christmas-happy-new-year/">Happy New Year <em>NEW</em></a></li>
                                <li id="menu-item-4700" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4700"><a title="Black Friday" href="http://seventhqueen.com/themes/kleo/black-friday/">Black Friday</a></li>
                                <li id="menu-item-4494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4494"><a title="Stylish Woocommerce NEW" href="http://seventhqueen.com/themes/kleo/stylish-woocommerce/">Stylish Woocommerce <em>NEW</em></a></li>
                                <li id="menu-item-833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a title="Home Community" href="http://seventhqueen.com/themes/kleo/home-default/">Home Community</a></li>
                                <li id="menu-item-4127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4127"><a title="Agency Multisite" href="http://seventhqueen.com/themes/kleo/demo-agency/">Agency <em>Multisite</em></a></li>
                                <li id="menu-item-834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-834"><a title="Home Simple" href="http://seventhqueen.com/themes/kleo/home/">Home Simple</a></li>
                                <li id="menu-item-2151" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2151"><a title="Home Shop" href="http://seventhqueen.com/themes/kleo/default-shop/">Home Shop</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-27 dropdown mega-4-cols"><a title="Community" href="#" class="js-activated">Community <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a title="Members" href="http://seventhqueen.com/themes/kleo/members/">Members</a></li>
                                <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a title="Groups" href="http://seventhqueen.com/themes/kleo/groups/">Groups</a></li>
                                <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a title="Activity" href="http://seventhqueen.com/themes/kleo/activity/">Activity</a></li>
                                <li id="menu-item-436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-436 dropdown-submenu"><a title="Forums" href="http://seventhqueen.com/themes/kleo/forums">Forums <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-438" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-438"><a title="Upcomming Features" href="http://seventhqueen.com/themes/kleo/groups/gladiator/forum/">Upcomming Features</a></li>
                                        <li id="menu-item-437" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-437"><a title="Design with pleasure" href="http://seventhqueen.com/themes/kleo/forums/forum/design-with-pleasure/">Design with pleasure</a></li>
                                        <li id="menu-item-439" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-439"><a title="Web Design Jobs &amp; Developer Jobs" href="http://seventhqueen.com/themes/kleo/forums/forum/web-design-jobs-developer-jobs/">Web Design Jobs &#038; Developer Jobs</a></li>
                                        <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-440"><a title="Web Designer Forum News" href="http://seventhqueen.com/themes/kleo/forums/forum/web-designer-forum-news/">Web Designer Forum News</a></li>
                                        <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-forum menu-item-441"><a title="Web Development" href="http://seventhqueen.com/themes/kleo/forums/forum/web-development/">Web Development</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-37 dropdown kleo-megamenu mega-5-cols"><a title="Features" href="#" class="js-activated">Features <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-376" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-376 dropdown-submenu"><a title="Buddypress" href="#">Buddypress <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-1667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1667"><a title="Buddypress Members" href="http://seventhqueen.com/themes/kleo/buddypress-members/">Buddypress Members</a></li>
                                        <li id="menu-item-1666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1666"><a title="Buddypress Groups" href="http://seventhqueen.com/themes/kleo/buddypress-groups/">Buddypress Groups</a></li>
                                        <li id="menu-item-1675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1675"><a title="Activity Stream" href="http://seventhqueen.com/themes/kleo/activity-stream-shortcode/">Activity Stream</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78 dropdown-submenu"><a title="Membership" href="http://seventhqueen.com/themes/kleo/membership-account/">Membership <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a title="Membership Levels" href="http://seventhqueen.com/themes/kleo/membership-account/membership-levels/">Membership Levels</a></li>
                                        <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a title="Membership Invoice" href="http://seventhqueen.com/themes/kleo/membership-account/membership-invoice/">Membership Invoice</a></li>
                                        <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a title="Membership Confirmation" href="http://seventhqueen.com/themes/kleo/membership-account/membership-confirmation/">Membership Confirmation</a></li>
                                        <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a title="Membership Checkout" href="http://seventhqueen.com/themes/kleo/membership-account/membership-checkout/">Membership Checkout</a></li>
                                        <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a title="Membership Cancel" href="http://seventhqueen.com/themes/kleo/membership-account/membership-cancel/">Membership Cancel</a></li>
                                        <li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a title="Membership Billing" href="http://seventhqueen.com/themes/kleo/membership-account/membership-billing/">Membership Billing</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-192 dropdown-submenu"><a title="Page Layouts" href="#">Page Layouts <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-352" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-352"><a title="Full Width Template" href="http://seventhqueen.com/themes/kleo/full-width-template/">Full Width Template</a></li>
                                        <li id="menu-item-340" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-340"><a title="Left Sidebar Template" href="http://seventhqueen.com/themes/kleo/left-sidebar-template/">Left Sidebar Template</a></li>
                                        <li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-341"><a title="Right Sidebar Template" href="http://seventhqueen.com/themes/kleo/right-sidebar-template/">Right Sidebar Template</a></li>
                                        <li id="menu-item-193" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-193"><a title="3 Colums Template" href="http://seventhqueen.com/themes/kleo/3-colums-template/">3 Colums Template</a></li>
                                        <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198"><a title="Two Left Sidebars" href="http://seventhqueen.com/themes/kleo/two-left-sidebars/">Two Left Sidebars</a></li>
                                        <li id="menu-item-333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-333"><a title="Two Right Sidebars" href="http://seventhqueen.com/themes/kleo/two-right-sidebars/">Two Right Sidebars</a></li>
                                        <li id="menu-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a title="No Breadcrumb Page" href="http://seventhqueen.com/themes/kleo/no-breadcrumb-page/">No Breadcrumb Page</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-361" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-361 dropdown-submenu"><a title="Shortcode Elements" href="#">Shortcode Elements <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-528"><a title="Feature Items" href="http://seventhqueen.com/themes/kleo/feature-items/">Feature Items</a></li>
                                        <li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674"><a title="Accordion &amp; Toggle" href="http://seventhqueen.com/themes/kleo/accordion-toggle/">Accordion &#038; Toggle</a></li>
                                        <li id="menu-item-681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-681"><a title="Buttons" href="http://seventhqueen.com/themes/kleo/buttons/">Buttons</a></li>
                                        <li id="menu-item-540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-540"><a title="Dividers" href="http://seventhqueen.com/themes/kleo/dividers/">Dividers</a></li>
                                        <li id="menu-item-687" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-687"><a title="Poi &amp; Pins" href="http://seventhqueen.com/themes/kleo/poi-pins/">Poi &#038; Pins</a></li>
                                        <li id="menu-item-716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-716"><a title="Tabs &amp; Pills" href="http://seventhqueen.com/themes/kleo/tabs-pills/">Tabs &#038; Pills</a></li>
                                        <li id="menu-item-704" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-704"><a title="Tooltips &amp; Popovers" href="http://seventhqueen.com/themes/kleo/tooltips-popovers/">Tooltips &#038; Popovers</a></li>
                                        <li id="menu-item-530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-530"><a class="disabled" href="http://seventhqueen.com/themes/kleo/feature-items">More →</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-662" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-662 dropdown-submenu"><a title="Pages" href="#">Pages <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu">
                                        <li id="menu-item-1224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1224"><a title="Shop" href="http://seventhqueen.com/themes/kleo/default-shop">Shop</a></li>
                                        <li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a title="Contact us" href="http://seventhqueen.com/themes/kleo/contact/">Contact us</a></li>
                                        <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a title="404 Page" href="http://seventhqueen.com/themes/kleo/404-page/">404 Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-4382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4382 dropdown mega-3-cols"><a title="Blog" href="#" class="js-activated">Blog <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a title="Blog Masonry" href="http://seventhqueen.com/themes/kleo/blog/">Blog Masonry</a></li>
                                <li id="menu-item-4744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4744"><a title="Blog Left Thumb NEW" href="http://seventhqueen.com/themes/kleo/blog-left-thumb/">Blog Left Thumb <em>NEW</em></a></li>
                                <li id="menu-item-4381" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4381"><a title="Blog Normal" href="http://seventhqueen.com/themes/kleo/blog-normal/">Blog Normal</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-3931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3931 dropdown mega-14-cols"><a title="Portfolio" href="http://seventhqueen.com/themes/kleo/portfolio/" class="js-activated">Portfolio <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-3945" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3945"><a title="Portfolio Fullwidth Overlay NEW" href="http://seventhqueen.com/themes/kleo/portfolio-full-width/">Portfolio Fullwidth Overlay <em>NEW</em></a></li>
                                <li id="menu-item-3932" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3932"><a title="Portfolio With Grid Images V2 NEW" href="http://seventhqueen.com/themes/kleo/portfolio/portfolio-grid-images-v2/">Portfolio With Grid Images V2 <em>NEW</em></a></li>
                                <li id="menu-item-3935" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3935"><a title="Portfolio With Grid Images V1" href="http://seventhqueen.com/themes/kleo/portfolio/portfolio-grid-images-v1/">Portfolio With Grid Images V1</a></li>
                                <li id="menu-item-3933" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3933"><a title="Portfolio With Sidebar" href="http://seventhqueen.com/themes/kleo/portfolio/portfolio-sidebar/">Portfolio With Sidebar</a></li>
                                <li id="menu-item-3934" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3934"><a title="Portfolio With Carousel Images" href="http://seventhqueen.com/themes/kleo/portfolio/portfolio-carousel-images/">Portfolio With Carousel Images</a></li>
                                <li id="menu-item-3936" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3936"><a title="Single Image Lightbox" href="http://seventhqueen.com/themes/kleo/portfolio/single-image-lightbox/">Single Image Lightbox</a></li>
                                <li id="menu-item-3938" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3938"><a title="Embed Vimeo Full Width" href="http://seventhqueen.com/themes/kleo/portfolio/embed-vimeo-full-width/">Embed Vimeo Full Width</a></li>
                                <li id="menu-item-3939" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3939"><a title="Embed YouTube Full Width" href="http://seventhqueen.com/themes/kleo/portfolio/embed-video-full-width/">Embed YouTube Full Width</a></li>
                                <li id="menu-item-3941" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3941"><a title="Hosted Video Full Width" href="http://seventhqueen.com/themes/kleo/portfolio/hosted-video-full-width/">Hosted Video Full Width</a></li>
                                <li id="menu-item-3937" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3937"><a title="Video Background Header NEW" href="http://seventhqueen.com/themes/kleo/portfolio/video-background-header/">Video Background Header <em>NEW</em></a></li>
                                <li id="menu-item-3940" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3940"><a title="Portfolio With Slider" href="http://seventhqueen.com/themes/kleo/portfolio/portfolio-slider/">Portfolio With Slider</a></li>
                                <li id="menu-item-3942" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3942"><a title="Gallery with thumbs" href="http://seventhqueen.com/themes/kleo/portfolio/gallery-thumbs/">Gallery with thumbs</a></li>
                                <li id="menu-item-3943" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3943"><a title="Image Full Width Header" href="http://seventhqueen.com/themes/kleo/portfolio/image-full-width/">Image Full Width Header</a></li>
                                <li id="menu-item-3944" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-3944"><a title="General Portfolio Content" href="http://seventhqueen.com/themes/kleo/portfolio/general-portfolio-content/">General Portfolio Content</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-2181" class="kleo-menu kleo-user_avatar-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2181 dropdown mega-6-cols"><a title="My Account" href="#" class="js-activated">My Account <span class="caret"></span></a>
                            <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                <li id="menu-item-4512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4512"></li>
                                <li id="menu-item-4502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4502"></li>
                                <li id="menu-item-4529" class="kleo-show-login menu-item menu-item-type-custom menu-item-object-custom menu-item-4529"><a title="Login" href="http://seventhqueen.com/themes/kleo/wp-login.php">Login</a></li>
                                <li id="menu-item-4531" class="kleo-menu kleo-register-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-4531"><a title="Register" href="/register">Register</a></li>
                            </ul>
                        </li>
                        <!--begin if connected-->
                        <%if(isconnecter){%>
                        <li id="menu-item-2181" class="kleo-menu kleo-user_avatar-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2181 dropdown mega-6-cols">
                            <a class="kleo-bp-user-avatar js-activated" href="http://seventhqueen.com/themes/kleo/members/demo/" title="Raffaeleo" style="line-height: 88px;">
                                <img class="kleo-rounded" alt="" src="http://seventhqueen.com/themes/kleo/wp-content/uploads/avatars/35231/3b2410df3c45dbae9889d1dd155f0e5e-bpthumb.jpg">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu sub-menu pull-left" role="menu">
                                <li id="menu-item-4512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4512">
                                    <a href="http://seventhqueen.com/themes/kleo/members/demo//profile" title="Profile">Profile</a>
                                </li>
                                <li id="menu-item-4502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4502">
                                    <a href="http://seventhqueen.com/themes/kleo/members/demo/" title="Activity">Activity</a>
                                </li>
                                <li id="menu-item-4517" class="bp-menu bp-notifications-nav menu-item menu-item-type- menu-item-object-custom menu-item-4517">
                                    <a href="http://seventhqueen.com/themes/kleo/members/demo/notifications/" title="Notifications">Notifications</a>
                                </li>
                                <li id="menu-item-4530" class="kleo-menu kleo-logout-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-4530">
                                    <a href="http://seventhqueen.com/themes/kleo/wp-login.php?action=logout&redirect_to=http%3A%2F%2Fseventhqueen.com%2Fthemes%2Fkleo%2Fpinterest%2F&_wpnonce=3587006c1c" title="Logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                        <%}%>
                        <!--end-->
                        <li class="menu-item kleo-toggle-menu shop-drop"><a class="cart-contents" href="http://seventhqueen.com/themes/kleo/cart/" title="View Cart" style="line-height: normal;"><span class="cart-items"><i class="icon icon-basket-full-alt"></i> </span> <span class="caret"></span></a><ul class="kleo-toggle-submenu"><li><div class="kleo-minicart"><div class="minicart-header">Your shopping bag is empty.</div><div class="minicart-buttons"><a class="btn btn-default kleo-go-shop" href="http://seventhqueen.com/themes/kleo/shop/"><span class="text">Go to the shop</span></a></div></div></li></ul></li><li id="nav-menu-item-search" class="menu-item kleo-search-nav">    <a class="search-trigger" href="#"><i class="icon icon-search"></i></a>
                            <div class="kleo-search-wrap searchHidden" id="ajax_search_container">
                                <form class="form-inline" id="ajax_searchform" action="http://seventhqueen.com/themes/kleo/" data-context="">
                                    <input autocomplete="off" type="text" class="ajax_s form-control" name="s" value="" placeholder="Start typing to search...">
                                    <span class="kleo-ajax-search-loading"><i class="icon-spin6 animate-spin"></i></span>
                                </form>
                                <div class="kleo_ajax_results"></div>
                            </div>

                        </li><li id="nav-menu-item-side" class="menu-item"><a href="#" class="open-sidebar" onclick="javascript:return false;"><i class="icon-menu"></i></a></li></ul></div>
            </div><!--end container-->
        </div>

    </div>

</div>