<div class="col-sm-12">
    <div id="item-nav">
        <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
            <ul class="responsive-tabs">
                <li id="xprofile-personal-li"  class="current selected"><a id="user-xprofile" href="http://seventhqueen.com/themes/kleo/members/demo/profile/">Profile</a></li>
                <li id="notifications-personal-li" ><a id="user-notifications" href="http://seventhqueen.com/themes/kleo/members/demo/notifications/">Notifications <span class="no-count">0</span></a></li>
                <li id="messages-personal-li" ><a id="user-messages" href="http://seventhqueen.com/themes/kleo/members/demo/messages/">Messages <span class="no-count">0</span></a></li>
                <li id="friends-personal-li" ><a id="user-friends" href="http://seventhqueen.com/themes/kleo/members/demo/friends/">Friends <span class="count">52</span></a></li>
                <li id="media-personal-li" ><a id="user-media" href="http://seventhqueen.com/themes/kleo/members/demo/media/">Photos<span>166</span></a></li>
                <li id="settings-personal-li" ><a id="user-settings" href="http://seventhqueen.com/themes/kleo/members/demo/settings/">Settings</a></li>

            </ul>
        </div>
    </div>
    <!-- #item-nav -->
</div>