<div class="sidebar sidebar-main col-sm-3 sidebar-right">
    <div class="inner-content widgets-container">
        <div id="bp_core_login_widget-2" class="widget widget_bp_core_login_widget buddypress widget"><h4 class="widget-title"></h4>


            <div class="bp-login-widget-user-avatar">
                <a href="http://seventhqueen.com/themes/kleo/members/demo/">
                    <img src="http://seventhqueen.com/themes/kleo/wp-content/uploads/avatars/35231/fe1a940917f4eaa94e2279830d730439-bpthumb.jpg" class="avatar user-35231-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Lennon Mendonça" />				</a>
            </div>

            <div class="bp-login-widget-user-links">
                <div class="bp-login-widget-user-link"><a href="http://seventhqueen.com/themes/kleo/members/demo/" title="Lennon Mendonça">Lennon Mendonça</a></div>
                <div class="bp-login-widget-user-logout"><a class="logout" href="http://seventhqueen.com/themes/kleo/wp-login.php?action=logout&amp;redirect_to=http%3A%2F%2Fseventhqueen.com%2Fthemes%2Fkleo%2Fmembers%2Fdemo%2Fprofile%2F&amp;_wpnonce=7d597cf96b">Log Out</a></div>
            </div>


        </div><div id="search-3" class="widget widget_search"><form role="search" method="get" id="searchform" action="http://seventhqueen.com/themes/kleo/">

                <div class="input-group">
                    <input name="s" id="s" autocomplete="off" type="text" class="ajax_s form-control input-sm" value="">
		<span class="input-group-btn">
            <input type="submit" value="Search" id="searchsubmit" class="button">
		</span>
                </div>

            </form></div>		<div id="recent-posts-3" class="widget widget_recent_entries">		<h4 class="widget-title">Posts récent</h4>		<ul>
                <li>
                    <a href="http://seventhqueen.com/themes/kleo/uncategorized/interior-design/">Interior design</a>
                </li>
                <li>
                    <a href="http://seventhqueen.com/themes/kleo/courses/communication-information/">Communication and information</a>
                </li>
                <li>
                    <a href="http://seventhqueen.com/themes/kleo/thoughts/things/">Doing things</a>
                </li>
                <li>
                    <a href="http://seventhqueen.com/themes/kleo/courses/creativity-innovation/">Creativity and Innovation</a>
                </li>
                <li>
                    <a href="http://seventhqueen.com/themes/kleo/courses/marketing-management-2/">UX Design</a>
                </li>
            </ul>
        </div><div id="bp_core_recently_active_widget-2" class="widget widget_bp_core_recently_active_widget buddypress widget"><h4 class="widget-title">Membres active récemment</h4>
            <div class="avatar-block">
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/demo/" title="Lennon Mendonça"><img src="http://seventhqueen.com/themes/kleo/wp-content/uploads/avatars/35231/fe1a940917f4eaa94e2279830d730439-bpthumb.jpg" class="avatar user-35231-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Lennon Mendonça" /></a>
                </div>
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/jon-nash/" title="Jon Nash"><img src='https://graph.facebook.com/100000613234424/picture?width=580&amp;height=580' class="avatar user-36435-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Jon Nash" /></a>
                </div>
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/erwina-edwina-lumpur/" title="Erwina Edwina Lumpur"><img src='https://graph.facebook.com/10153121895687497/picture?width=580&amp;height=580' class="avatar user-36414-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Erwina Edwina Lumpur" /></a>
                </div>
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/finn-made/" title="Finn Made"><img src='https://graph.facebook.com/1554571344797932/picture?width=580&amp;height=580' class="avatar user-36439-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Finn Made" /></a>
                </div>
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/barcaoui-karim/" title="Barçaoui Karim"><img src='https://graph.facebook.com/770058173062456/picture?width=580&amp;height=580' class="avatar user-36392-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Barçaoui Karim" /></a>
                </div>
                <div class="item-avatar">
                    <a href="http://seventhqueen.com/themes/kleo/members/tarek-faouzi/" title="Tarek Faouzi"><img src='https://graph.facebook.com/662707287129736/picture?width=580&amp;height=580' class="avatar user-4686-avatar avatar-50 photo" width="50" height="50" alt="Profile picture of Tarek Faouzi" /></a>
                </div>
            </div>

        </div> </div>
    </div><!--end inner-content-->
</div><!--end sidebar-->